{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}  
    
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">
        Bienvenidos al sitio de las Hojas de Hielo Seco
      </h1>
      <p class="lead">Empezar a ingresar hojas</p>
      <hr class="my-2">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Empezar</a>
      </p>
    </div>
  </div>

{% endblock %}