<form enctype="multipart/form-data" method="post">

      <div class="mb-3">
        <label for="" class="form-label">Nombre cliente:</label>
        <br>
        <input
        type=""
          class="" 
          name="" 
          id="" 
          aria-describedby="helpId" 
          placeholder="Ingrese nombre"
          value=""
          
          />
          <br/>
          <label for="" class="form-label">Tipo de cliente:</label>
          <br>
          <input
          type=""
            class="" 
            name="" 
            id="" 
            aria-describedby="helpId" 
            placeholder="Tipo cliente"
            value=""
            
            />
            <br/>
            <label for="" class="form-label">Cantidad de hojas:</label>
            <br>
            <input
            type=""
              class="" 
              name="" 
              id="" 
              aria-describedby="helpId" 
              placeholder="Cantidad"
              value=""
              
              />
              <br/>
              <label for="" class="form-label">Precio por hoja:</label>
              <br>
              <input
              type=""
                class="" 
                name="" 
                id="" 
                aria-describedby="helpId" 
                placeholder="Cantidad"
                value=""
                
                />
                <br/>
                <label for="" class="form-label">Subtotal:</label>
                <br>
                <input
                type=""
                  class="" 
                  name="" 
                  id="" 
                  aria-describedby="helpId" 
                  placeholder="Cantidad"
                  value=""
                  disabled
                  
                  />
                  <br/>
                  <label for="" class="form-label">Neto a pagar:</label>
                  <br>
                  <input
                  type=""
                    class="" 
                    name="" 
                    id="" 
                    aria-describedby="helpId" 
                    placeholder="Cantidad"
                    value=""
                    disabled
                    />
      </div>
  
      <div class="col-12 help-text">ejemplo</div>
  
    <input name="" id="" class="btn btn-success" type="submit" value="Registrar compra">
    <a name="" id="" class="btn btn-primary" href="{% url 'compras' %}" role="button">Cancelar</a>
  </form>